
.innerWrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;

}


@media (max-width:576px) {
    
    .innerWrapper{
        grid-template-columns: 1fr;
        gap: 2rem;
    }


}








