
.clientListImage{
    width: 100%;
    height: auto;
}


@media (max-width: 576px) {
    .innerWrapper{
        display: flex;
        flex-direction: column-reverse;
        /* border: 1px solid #000; */
        gap: 5rem;
    }
}




