

.mainWrapper{
    width: 100%;
    border: 1px solid #ffffff;
    box-sizing: border-box;
    box-shadow: 5px 5px 20px #00000050;
          
    -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none; 
       -moz-user-select: none;
        -ms-user-select: none; 
            user-select: none;   
    
}
 
.mainWrapper:hover{
    /* background-color: #0000001b; */
    border: 1px solid #ED4700;
    box-shadow: 5px 5px 20px #00000081;
    /* transform: translate(50px, 20px) rotate(45deg) scale(1.5); */
    transform: scale(1.01);
}

.icon{
    width: 8rem;
    height: auto;
}

.title{
    font-size: 2rem !important;
}

.description{
    font-size: 1.2rem !important;
}

.btn{
    font-size: 1rem !important;
    cursor: pointer;
}


@media (max-width:576px) {

    /* .mainWrapper{
        cursor: default;
    } */

    .mainWrapper{
        padding: 4rem 2rem 4rem 2rem !important;
    }
    
    .mainWrapper:hover{
        /* background-color: #0000001b; */
        border: 1px solid #ffffff;
        box-shadow: 5px 5px 20px #00000050;
        /* transform: translate(50px, 20px) rotate(45deg) scale(1.5); */
        transform: scale(1);
    }

    .title{
        font-size: 2.5rem !important;
    }
    
    .description{
        font-size: 1.4rem !important;
    }

    .btn{
        font-size: 1.3rem !important;
        cursor: pointer;
    }

}





