
.mainWrapper{
    background-color: #fff;
    /* background-color: #700d0d; */
}
 
.mainWrapper:hover{
    box-shadow: 0px 0px 25px 0px #00000053;
    /* transform: scale(0.9); */
}

.image{
    width: 100%;
    background-color: #c2b0b0;
    aspect-ratio: 1;
}





