

.mainWrapper{
    /* background-color: #afafaf; */
    background: url('../../../../Assets/Images/worksBanner.webp');
    background-size: cover;
    min-height: 30rem;
    aspect-ratio: 3/1;
}

.overlay{
    background-color: #000000b1;
}

.title{
    color: #fff;
    font-size: 1.5rem;
    font-weight: 700;
}

.summaryItems{
    color: #fff;
    font-size: 2.5rem;
    font-weight: 700;
}

.tag{
    background-color: rgba(255, 255, 255, 0.606);
    color: #000000;
    font-size: 1rem;
    border-radius: 1rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
}

@media (max-width:576px) {
    
    .summaryItems{

        font-size: 2.5rem;
    }

    .tag{
        font-size: 1.2rem;
    }
}

