
.inputField{
    /* height: 3rem; */
    border: 1px solid #fff;
    box-shadow: 0px 0px 10px 0px #00000044;
    padding: 1rem 1rem 1rem 1rem;
    outline: 1px solid #fff;
    font-family: Arial, Helvetica, sans-serif;
}

.sectionRight{
    background-color: #782f2f;
}

.title{
    margin-bottom: 0px;
}

.subtitle{
    margin-top: -1rem;
}

.overlayPune{
    height: 100%;
    background: linear-gradient(to top, #2d3d4b, transparent);
}

.bottomSectionsTitle{
    /* background-color: #675555; */
    position: relative;
    width: fit-content;
    padding-bottom: 0.5rem;
    box-sizing: border-box;
}

.bottomSectionsTitle::after {

    content: "";
    position: absolute;
    right: 0px;
    bottom: 0px;
    height: 5px;
    width: 3rem;
    background-color: #fff;
}

.overlayNagpur{
    height: 100%;
    background: linear-gradient(to top, #2d3d4b, transparent);
}

.puneSection{
    background: url('../../../Assets/Images/location1.webp');
    background-size: cover;
}

.nagpurSection{
    background: url('../../../Assets/Images/location2.webp');
    background-size: cover;
}

/* @media (max-width: 576px) {
    
    .overlayPune{
        background: linear-gradient(to bottom, #fff, transparent);
    }

    .txtPune{
        color: #151e37;
    }

} */







