
.mainWrapper{
    width: 100%;
    min-height: 10vw;
    background: url('../../../Assets/Images/contactUsBanner.webp');
    background-size: cover;
    aspect-ratio: 5/1;

}

.overlay{
    background: linear-gradient(to top, #2d3d4b, transparent);
    height: 100%;
    width: 100%;
    /* border: 1px solid #fff; */
}

@media (max-width:576px) {

    .mainWrapper{
        min-height: 40vw;
        aspect-ratio: 2/1;
    }
}





