
.mainWrapper{
    width: 100%;
    min-height: 10vw;
    background: url('../../../Assets/Images/contactUsBanner.webp');
    background-size: cover;
    aspect-ratio: 5/1;

}

@media (max-width:576px) {

    .mainWrapper{
        min-height: 40vw;
        aspect-ratio: 2/1;
    }
}





